* {
  /* font-size: 10px; */
}
html{
  font-size: 14px;
}
body {
  font-size: 14px;
}
header, main, footer {
  margin: 20px;
  padding: 10px;
  border: solid 5px #CCCCCC;
}


h1 {
  /* font-size: 5em; */
  color: green;
  background-color: lightpink;
  border: solid 2px red; 
  text-align: center;
  widtch: 90vw;
  padding: 20px;
  margin: 40px;
}
h3{
  color: orange;
  
}
.content {
  display: inline-block;
  width: 30%;
  height: 100%;
  border: solid 1px black;
  margin: 10px
}

article div::after{
  content: '(더보기)';
  font-style: italic;
  color: darkgreen;
}

a {
  text-decoration: none;
  color: darkred;
}

a:visited{
  color: orange;
}

a:hover{
  background-color: blue;
  color: white;
}

a:active{
  backgorund-color: darkred;
  color: white;
}
